#map {
display: block;
width: 100%;
height: 100%;
}

#consoleForm{
font-family: Verdana;
font-size: 12px;
}

#consoleForm .label, #consoleForm .yasgui_input_element{
display: inline-block;
margin-right: 6px;
}

.mdForm{
display: table;
padding: 8px;
}

.mdFormRow{
display: table-row;
padding: 14px;
height: 40px;
}

.mdFormLabel{
display: table-cell;
font-weight: bold;
width: 100px;
vertical-align: top;
font-family: Arial, sans-serif;
font-size: smaller;
}

.mdFormValue{
display: table-cell;
}

.mdForm button {
margin-top: 10px;
}

#pubErrorMessage {
color: #b00;
display: block;
margin-left: 120px;
font-weight: bold;
font-family: Arial, sans-serif;
font-size: smaller;
}